
[stepper_z]
step_pin: PC6
dir_pin: !PC7
enable_pin: !PA9
microsteps: 16
rotation_distance: 40
gear_ratio: 48.4855:1
#endstop_pin: ^PC3
endstop_pin: probe:z_virtual_endstop
full_steps_per_rotation: 200
#position_endstop: 0
position_min: 0
position_max: 420
homing_speed: 60
homing_retract_dist: 0  

[tmc5160 stepper_z]
cs_pin: PB10
#spi_software_sclk_pin: PA5
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
run_current: 1
sense_resistor: 0.075
driver_SGT: -3
#Interpolate: True
hold_current: 0.4
#spi_bus: spi1
#diag1_pin: ^!PF3
#stealthchop_threshold: 0

[stepper_z1]
step_pin: PB12
dir_pin: !PB11
enable_pin: !PA8
microsteps: 16
rotation_distance: 40
gear_ratio: 48.4855:1
#endstop_pin: ^PC3
#endstop_pin: tmc5160_stepper_x:virtual_endstop
#full_steps_per_rotation: 200
#position_endstop: 0
#position_min: 0
#position_max: 420
#homing_speed: 100
#homing_retract_dist: 0  

[tmc5160 stepper_z1]
cs_pin: PB2
#spi_software_sclk_pin: PA5
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
run_current: 1
sense_resistor: 0.075
driver_SGT: -3
#Interpolate: True
hold_current: 0.4
#spi_bus: spi1
#diag1_pin: ^!PF3
#stealthchop_threshold: 0

[stepper_z2]
step_pin: PB0
dir_pin: PB1
enable_pin: !PC4
microsteps: 16
rotation_distance: 40
gear_ratio: 48.4855:1
#endstop_pin: ^PC3
#endstop_pin: tmc5160_stepper_x:virtual_endstop
#full_steps_per_rotation: 200
#position_endstop: 0
#position_min: 0
#position_max: 420
#homing_speed: 100
#homing_retract_dist: 0  

[tmc5160 stepper_z2]
cs_pin: PA6
#spi_software_sclk_pin: PA5
#spi_software_mosi_pin: PA7
#spi_software_miso_pin: PA6
run_current: 1
sense_resistor: 0.075
driver_SGT: -3
#Interpolate: True
hold_current: 0.4
#spi_bus: spi1
#diag1_pin: ^!PF3
#stealthchop_threshold: 0

[safe_z_home]
home_xy_position: 275,275
# Example home_xy_position: 175,175 - This would be for a 350 * 350mm bed. 
z_hop: 10

[z_tilt]
z_positions: 
    -15, 20   #10.726, 10.385
    275, 590 #152.768, 284.381
    565, 20  #294.81, 10.385
    
points: #Nozzle Position, Bed will be probed at the location whe the probe is when noxxle is on this point.
	10,0
	275,500
	540,0
# It is recommended to use 3 or 4 points maximum to define the bed attitude.  
# Either place a point close to each corner, or close to each lift points.

speed: 200
horizontal_move_z: 15
#retries: 0     # Number of times to retry if the probed points aren't within tolerance.
#retry_tolerance: 0
#   If retries are enabled then retry if largest and smallest probed
#   points differ more than retry_tolerance. Note the smallest unit of
#   change here would be a single step. However if you are probing
#   more points than steppers then you will likely have a fixed
#   minimum value for the range of probed points which you can learn
#   by observing command output.

[axis_twist_compensation]
speed: 80
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
calibrate_start_x: 0
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position. This parameter must be provided.
calibrate_end_x: 550
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position. This parameter must be provided.
calibrate_y: 275
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter must be provided and is recommended to
#   be near the center of the bed